@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

body {
  min-height: 100vh;
}

.narrow {
  max-width: 720px;
}

/* TK compile all this into Bootstrap? */

.bg-primary {
  background-color: #85C1E9 !important;
}

.btn-primary {
  background-color: #85C1E9;
  border-color: #85C1E9;
}

.bg-light {
  background-color: #FBFCFC !important;
}

.serif {
  font-family: "Source Serif Pro", Georgia, serif;
}
